$background-color: #F3F1EF;
$color1: #101322;
$color2: #94CED8;
$color3: #D9BDA9;
$radius: 20px;
$space-between: 15px;
$heading-spacing: 20px;
$primaryColor: tan;
$boxColor: white;
$boxRadius: 20px;
$average-padding: 30px 0px 0px 30px;
$light-color: rgb(238, 238, 238);
$font: 'Lato', sans-serif;